<div class="projects">
    <div class="title">
            Projekty komercyjne w nad którymi pracowałem
    </div>
    <div class="projects-items">
        <div class="item">
            <div class="item-txt">
                Strony oparte o system Wordpress. Wizytówki, informacyjne, sklepy internetowe - bazujące na systemie WooCommerce. 
            </div>
        </div>
        <div class="item">
            <div class="item-txt">
                Internetowy system zintegrowany z Social Media takimi jak Facebook, Twitter, Instagram. Narzędzie było używane do zbierania i analizy aktywności.
            </div>
        </div>
        <div class="item">
            <div class="item-txt">
                Kilka małych modułów dla dużego portalu internetowego zarządzającego hotelami. Projekt realizowany dla firmy w Szwajcarii.
            </div>
        </div>
        <div class="item">
            <div class="item-txt">
                Implementacja poprawek stylistycznych i wyglądu dla systemu leasingowego samochodów osobowych i ciężarowych. Projekt realizowany dla firmy w Anglii.
            </div>
        </div>
        <div class="item">
            <div class="item-txt">
                Wprowadzanie nowych funkcjanalności i nowego wyglądu w dużym systemie do integracji pracy inżynierów. 
                System pozwalał na wymianę danych, planowanie i kontakt pomiędzy ludźmi pracyjącymi nad konkretnym projektem.
            </div>
        </div>
        <div class="item">
            <div class="item-txt">
                Aktualnie pracuję w dużej niemieckiej korporacji związanej z branżą elektryczną i elektroniczną. 
                Projekt dotyczy integracji danych od poszczególnych producentów i udostępnia zasoby w platformie projektowej.
            </div>
        </div>
    </div>
</div>
