<div class="menu">
    <div class="menu-items">
        <div class="menu-item" routerLink="about-me" routerLinkActive="menu-active-link">
            <img src="./assets/icons/avatar.png" alt="avatar">
            <span>About Me</span>
        </div>
        <div class="menu-item" routerLink="projects" routerLinkActive="menu-active-link">
            <img src="./assets/icons/sketch.png" alt="projects">
            <span>Projects</span>
        </div>
        <div class="menu-item" routerLink="technology" routerLinkActive="menu-active-link">
            <img src="./assets/icons/data.png" alt="technology">
            <span>Technology</span>
        </div>
        <div class="menu-item" routerLink="contact" routerLinkActive="menu-active-link">
            <img src="./assets/icons/contact.png" alt="contact">
            <span>Contact</span>
        </div>
    </div>
</div>
