.technology {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;

    .technology-items {
        width: 60%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .item {
            max-width: 300px;
            padding: 24px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media(max-width: 500px) {
    .technology {
        .technology-items {
            .item {
                max-width: 120px;
                padding: 12px;
            }
        }
    }
}