<div class="socials">
    <div class="title">
        Możesz też mnie znaleźć tutaj
    </div>
    <div class="socials-items">
        <a href="https://www.facebook.com/piotr.mroz.54" target="_blank">
            <div class="socials-item-fb">
                Facebook
            </div>
        </a>
        <a href="https://www.linkedin.com/in/piotr-mr%C3%B3z-48867210b/" target="_blank">
            <div class="socials-item-li">
                LinkedIn
            </div>
        </a>
        <a href="https://www.instagram.com/konsek666" target="_blank">
            <div class="socials-item-in">
                Instagram
            </div>
        </a>
    </div>
</div>
